<!DOCTYPE html>

<!-- Layout setup -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-fragment="principal-layout(titlePage, contentPage)">
<head>
    <meta charset="UTF-8">

    <!-- Variable title page -->
    <title data-th-replace="${titlePage}">ENI - Enchères</title>

    <!-- Add CSS for the layout -->
    <link rel="stylesheet" data-th-href="@{/css/layout.css}">
    <link rel="stylesheet" data-th-href="@{/css/form.css}">
    <link rel="stylesheet" data-th-href="@{/css/general.css}">

    <!-- ENI icon-->
    <link rel="icon" data-th-href="@{/images/logoENI.png}" sizes="32x32">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fontawesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>

    <!-- Navbar -->
    <div data-th-replace="~{fragments/header-fragment :: header-frag}"></div>

    <!-- Variable content page -->

    <main data-th-replace="${contentPage} ?: ~{}">
        Content page
    </main>

    <!-- Footer -->
    <div data-th-replace="~{fragments/footer-fragment :: footer-frag}"></div>

    <!-- Bootstrap Bundle JS (including Popper) -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>