<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: principal-layout(titlePage=~{:: title},
                    contentPage=~{:: .center-main})}">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{editProfile.title}">Modifier le profil</title>
</head>
<body>
<main class="center-main">
    <div class="container-fluid">
        <div class="container">
            <div class="row mt-3 mb-5">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">

                    <h1 th:text="#{editProfile.h1}" class="title1">Modifier le profil</h1>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <form th:action="@{/user/profile/save}" th:object="${profile}" method="post">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label th:text="#{userForm.label.username}" class="form-label"></label>
                                <input type="text" th:field="*{utilisateur.pseudo}" class="form-control"/>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:text="#{userForm.label.lastName}" class="form-label"></label>
                                <input type="text" th:field="*{utilisateur.nom}" class="form-control"/>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:text="#{userForm.label.firstName}" class="form-label"></label>
                                <input type="text" th:field="*{utilisateur.prenom}" class="form-control"/>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:text="#{userForm.label.email}" class="form-label"></label>
                                <input type="email" th:field="*{utilisateur.email}" class="form-control"/>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:text="#{userForm.label.phone}" class="form-label"></label>
                                <input type="text" th:field="*{utilisateur.telephone}" class="form-control"/>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:text="#{editProfile.inputPassword}" class="form-label"></label>
                                <input type="password" th:field="*{utilisateur.motDePasse}" class="form-control"/>
                            </div>

                            <div class="col-md-12 mt-4 mb-2">
                                <h3 th:text="#{userForm.h3.address}">Adresse</h3>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:text="#{userForm.label.street}" class="form-label"></label>
                                <input type="text" th:field="*{adresse.rue}" class="form-control"/>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label th:text="#{userForm.label.postalCode}" class="form-label"></label>
                                <input type="text" th:field="*{adresse.codePostal}" class="form-control"/>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label th:text="#{userForm.label.city}" class="form-label"></label>
                                <input type="text" th:field="*{adresse.ville}" class="form-control"/>
                            </div>

                             <div class="col-md-12 mt-4 mb-5 d-flex justify-content-center">
                                <button type="submit" class="btn btn-dark me-2" th:text="#{userForm.save}">Enregistrer</button>
                                <a th:href="@{/user/profile}" class="btn btn-outline-dark" th:text="#{userForm.cancel}">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
