<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: principal-layout(titlePage=~{:: title},
					contentPage=~{:: .center-main})}">

<head>
    <meta charset="UTF-8">
    <title th:text="#{create.title}"></title>
    <link rel="stylesheet" data-th-href="@{/css/general.css}">
</head>
<body>
<main class="center-main">
    <div class="container-fluid">
        <div class="container">
            <div class="row mt-3 mb-5">
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-4 text-center mt-2">
                    <h1 th:text="#{create.h1}" class="title1"></h1>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body cardUser">
                            <p><span th:text="#{home.date}+${#temporals.format(#temporals.createNow(), 'dd/MM/yyyy')}"></span></p>
                            <p th:if="${profile != null}"><span th:text="#{auction.participant}+${profile.utilisateur.pseudo}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <form th:action="@{/sale/add-sale}" method="post" th:object="${article}">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="nomArticle" class="form-label" th:text="#{create.name}"></label>
                                <input type="text" class="form-control" id="nomArticle" th:field="*{nomArticle}" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="prixInitial" class="form-label" th:text="#{create.startingPrice}"></label>
                                <input type="number" class="form-control" id="prixInitial" th:field="*{prixInitial}" required value="0">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="categorie" class="form-label" th:text="#{create.category}"></label>
                                <select class="form-select" id="categorie" th:field="*{noCategorie}" required>
                                    <option value="1">Sélectionner</option>
                                    <option th:each="categorie : ${categories}" th:value="${categorie.noCategorie}" th:text="${categorie.libelle}"></option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="dateDebutEncheres" class="form-label" th:text="#{create.startDate}"></label>
                                <input type="date" id="dateDebutEncheres" class="form-control" th:field="*{dateDebutEncheres}" placeholder="JJ/MM/AAAA" required>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="description" class="form-label" th:text="#{create.description}"></label>
                                <textarea class="form-control" id="description" th:field="*{description}" rows="3" required></textarea>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="dateFinEncheres" class="form-label" th:text="#{create.endDate}"></label>
                                <input type="date" id="dateFinEncheres" class="form-control" th:field="*{dateFinEncheres}" placeholder="JJ/MM/AAAA" required>
                            </div>
                            <div class="col-md-8 mb-5">
                                <label for="adresse" class="form-label" th:text="#{create.address}"></label>
                                <select class="form-select" id="adresse" th:field="*{noAdresseRetrait}" required>
                                    <option value="1" th:text="#{create.select}"></option>
                                    <option th:each="adresses : ${adresse}"
                                            th:value="${adresses.noAdresse}"
                                            th:text="${adresses.rue + ' ' + adresses.codePostal + ' ' + adresses.ville}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-5"></div>
                            <div class="row mb-5 buttonRow">
                                <div class="col-12 col-md-4 buttonSave">
                                    <button type="submit" class="btn btn-dark" th:text="#{create.save}"></button>
                                </div>
                                <div class="col-12 col-md-4 buttonCancelAuction">
                                    <a href="/" class="btn btn-outline-dark" th:text="#{create.cancelAuction}"></a>
                                </div>
                                <div class="col-12 col-md-4 d-flex buttonCancel">
                                    <a href="/" class="btn btn-outline-dark" th:text="#{create.cancel}"></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>