<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      data-th-replace="~{layouts/layout :: principal-layout(titlePage=~{:: title},
					contentPage=~{:: .center-main})}">

<head>
    <meta charset="UTF-8">
    <title th:text="#{auction.title}"></title>
    <link rel="stylesheet" data-th-href="@{/css/general.css}">
</head>
<body>
    <main class="center-main">
        <div class="container-fluid">
            <div class="container">
                <div class="row mt-3 mb-5">
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4 text-center mt-2">
                        <h1 th:text="#{auction.h1}" class="title1"></h1>
                        <p class="success" th:if="${status == 'bid_placed'}" th:text="#{auction.success}"></p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body cardUser">
                                <p><span th:text="#{home.date}+${#temporals.format(#temporals.createNow(), 'dd/MM/yyyy')}"></span></p>
                                <p><span th:text="#{auction.participant}"  sec:authorize="isAuthenticated()"/></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p><span th:text="#{auction.article}+${article.nomArticle}"></span></p>
                        <p><span th:text="#{auction.category}+${categorie.libelle}"></span></p>
                        <p><span th:text="#{auction.description}+${article.description}"></span></p>
                        <p><span th:text="#{auction.takeOut}+${adresse.rue + ' ' +  adresse.codePostal + ' ' + adresse.ville}"></span></p>
                        <p><span th:text="#{auction.seller}+${article.idUtilisateur}"></span></p>
                    </div>
                    <div class="col-md-4">
                        <p><span th:text="#{auction.startingPrice}+${article.prixInitial}"></span></p>
                        <p><span th:text="#{auction.price}+${article.prixVente}"></span> </p>
                        <p><span th:text="#{auction.bidder}+${highestBidder != null ? highestBidder : ''}" /></p>
                        <p><span th:text="#{auction.endDate}+${#temporals.format(article.dateFinEncheres, 'dd/MM/yy')}"></span></p>
                        <div sec:authorize="isAuthenticated()">
                            <form
                                    th:action="@{/bid(id=${article.noArticle})}"
                                    th:if="${article.statutEnchere == 1 && userCredit > article.prixVente}"
                                    method="POST">

                                <label for="inputPrice" th:text="#{auction.bidLabel}"></label>
                                <input id="inputPrice" type="number" name="inputPrice" th:placeholder="#{auction.amount}">
                                <button type="submit" th:text="#{auction.bid}"></button>
                            </form>
                            <span class="error" th:unless="${article.statutEnchere == 1}" th:text="#{auction.notStarted}" />
                            <span class="error" th:if="${article.statutEnchere == 1}" th:unless="${userCredit > article.prixVente}" th:text="#{auction.cantBid}"/>
                        </div>
                        <span class="warning" sec:authorize="isAnonymous()" th:text="#{auction.signInToBid}"/>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                
                <div class="row mt-3 mb-5 align-items-center">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 col-sm-12 d-flex justify-content-center">
                        <a href="/" class="btn btn-dark me-2" th:text="#{auction.return}"></a>
                        <div>
                            <div th:if="${article.statutEnchere == 100}">
                                <button class="btn btn-outline-dark" disabled th:text="#{auction.cancelled}"></button>
                            </div>
                            <div th:if="${article.statutEnchere != 100}">
                                <div th:if="${canCancel}">
                                    <form th:action="@{/auction/cancel}" method="post" th:object="${article}">
                                        <input type="hidden" name="id" th:value="${article.noArticle}" />
                                        <button type="submit" class="btn btn-danger" th:text="#{auction.cancel}"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 d-flex justify-content-center">
                        <img src="https://img.freepik.com/vecteurs-premium/vecteur-icone-image-par-defaut-page-image-manquante-pour-conception-site-web-application-mobile-aucune-photo-disponible_87543-11093.jpg" alt="" class="img-fluid" style="max-height: 150px;">
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>