.user-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    > input {
    margin: .5rem
    }

}

#register-form {
    label {
        visibility: hidden;
        height: 0;
    }
}

.grid-2 {
    grid-column: 2;
}