.no-decoration {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.no-decoration:hover{
    color: #757575;
}

.success {
    color: limegreen;
}

.warning {
    color: darkgrey;
}

.error {
    color: orangered;
}

.title1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 4em;
}

h2, h3 {
    font-family: "Bebas Neue", sans-serif;
}

.center-main{
    font-family: Inter, sans-serif;
}

.imgArticle{
    border: 1px solid #757575;
}

.buttonSave{
    display:flex;
    justify-content: end;
}

.buttonCancelAuction{
    display: flex;
    justify-content: center;
}

.buttonCancel{
    display: flex;
    justify-content: start;
}

@media screen and (max-width: 1400px){
    .title1{
        font-size: 3.5em;
    }
}

@media screen and (max-width: 1200px){
    .title1{
        font-size: 2.5em;
    }
}

@media screen and (max-width: 992px){
    .title1{
        font-size: 1.8em;
    }
    .cardUser{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 768px) {
    .buttonRow {
        display: flex;
    }

    .buttonSave,
    .buttonCancel,
    .buttonCancelAuction {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}