.no-decoration {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.no-decoration:hover{
    color: #757575;
}

#inputPrice {
    width: 5rem;
}

.success {
    color: limegreen;
}

.warning {
    color: darkgrey;
}

.error {
    color: orangered;
}

#modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;

    .cancel {
        position: fixed;
        width: 100%;
        height: 100%;
        cursor: default;
        background: rgba(105, 105, 105, 0.5);
    }

    &:target {
        visibility: visible;
        opacity: 1;
    }
}

.modal {
    position: relative;
    margin: auto;
    top: 30%;
    padding: 20px;
    background: #fff;
    @media (min-width: 400px) {
        max-width: 400px;
    }
    @media (min-width: 1200px) {
        padding: 50px;
    }
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    > h2 {
        margin-top: 0;
    }

    .close {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 20px;
        right: 20px;
        opacity: 0.8;
        transition: all 200ms;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #666;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    .content {
        max-height: 400px;
        overflow: auto;
    }

}

    .title1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 4em;
}

h2, h3 {
    font-family: "Bebas Neue", sans-serif;
}

.center-main{
    font-family: Inter, sans-serif;
}

.imgArticle{
    border: 1px solid #757575;
}

.buttonSave{
    display:flex;
    justify-content: end;
}

.buttonCancelAuction{
    display: flex;
    justify-content: center;
}

.buttonCancel{
    display: flex;
    justify-content: start;
}

@media screen and (max-width: 1400px){
    .title1{
        font-size: 3.5em;
    }
}

@media screen and (max-width: 1200px){
    .title1{
        font-size: 2.5em;
    }
}

@media screen and (max-width: 992px){
    .title1{
        font-size: 1.8em;
    }
    .cardUser{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 768px) {
    .buttonRow {
        display: flex;
    }

    .buttonSave,
    .buttonCancel,
    .buttonCancelAuction {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}