.logo{
    font-size: 2.2em;
    text-decoration: none;
    color: black;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    > a {
        display: flex;
        align-items: center;
        padding: 0 .25rem;
    }
}

h1{
    padding-top: 50px;
}

html, body {
    height: 100%;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.navbar{
    background-color: #FEC606;
    font-family: "Bebas Neue", sans-serif;
}

.custom-footer{
    background-color: #FEC606;
    font-family: "Bebas Neue", sans-serif;
}