<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: principal-layout(titlePage=~{:: title},
					contentPage=~{:: .center-main})}">

<head>
    <meta charset="UTF-8">
    <title>Détails vente</title>
    <link rel="stylesheet" data-th-href="@{/css/auction-details.css}">
</head>
<body>
<main class="center-main">
    <div class="container-fluid">
        <div class="container">
            <div class="row mt-3 mb-5">
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-4 text-center mt-2">
                    <h1>Nouvelle vente</h1>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2 dateUser d-flex flex-column align-items-center justify-content-center">
                    <p>Date du jour : <span th:text="${#temporals.format(#temporals.createNow(), 'dd/MM/yyyy')}"></span></p>
                    <!-- Change to display user name when logged in -->
                    <p>Participant : Username</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <form action="" method="post">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="nameArticle" class="form-label">Article (*):</label>
                                <input type="email" class="form-control" id="nameArticle">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="salePrice" class="form-label">Mise à prix (*):</label>
                                <input type="email" class="form-control" id="salePrice">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="category" class="form-label">Catégorie (*):</label>
                                <select class="form-select" aria-label="Default select example" name="selectCategory" id="category">
                                    <option selected>Toutes</option>
                                    <div th:each="categorie : ${categories}">
                                        <option value="1" th:text="${categorie.libelle}"></option>
                                    </div>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="auctionStartDate" class="form-label">Début de l'enchère (*):</label>
                                <input type="text" id="auctionStartDate" class="form-control datepicker" placeholder="JJ/MM/AAAA">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="description" class="form-label">Description (*):</label>
                                <textarea class="form-control" id="description" rows="3"></textarea>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="auctionEndDate" class="form-label">Fin de l'enchère (*):</label>
                                <input type="text" id="auctionEndDate" class="form-control datepicker" placeholder="JJ/MM/AAAA">
                            </div>
                            <div class="col-md-8 mb-5">
                                <label for="address" class="form-label">Retrait (*):</label>
                                <select class="form-select" aria-label="Default select example" name="selectCategory" id="address">
                                    <option selected>...</option>
                                    <div th:each="adresses : ${adresse}">
                                        <option value="1" th:text="${adresses.rue + ' ' + adresses.codePostal + ' ' + adresses.ville}"></option>
                                    </div>
                                </select>
                            </div>
                            <div class="col-md-4 mb-5"></div>
                            <div class="row mb-5">
                                <div class="col-md-4 d-flex justify-content-end">
                                    <a href="" class="btn btn-outline-secondary">Suivant</a>
                                </div>
                                <div class="col-md-4 d-flex justify-content-center">
                                    <a href="" class="btn btn-outline-secondary">Annuler la vente</a>
                                </div>
                                <div class="col-md-4 d-flex justify-content-start">
                                    <a href="" class="btn btn-outline-secondary">Annuler</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>