<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: principal-layout(titlePage=~{:: title},
					contentPage=~{:: .center-main})}">

<head>
    <meta charset="UTF-8">
    <title>Détails vente</title>
    <link rel="stylesheet" data-th-href="@{/css/auction-details.css}">
</head>
<body>
    <main class="center-main">
        <div class="container-fluid">
            <div class="container">
                <div class="row mt-3 mb-5">
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4 text-center mt-2">
                        <h1>Détails d'une vente</h1>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2 dateUser d-flex flex-column align-items-center justify-content-center">
                        <p>Date du jour : <span th:text="${#temporals.format(#temporals.createNow(), 'dd/MM/yyyy')}"></span></p>
                        <!-- Change to display user name when logged in -->
                        <p>Participant : Username</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Article : <span th:text="${article.nomArticle}"></span></p>
                            </div>
                            <div class="col-md-12">
                                <p>Catégorie : <span th:text="${categorie.libelle}"></span></p>
                            </div>
                            <div class="col-md-12">
                                <p>Description : <span th:text="${article.description}"></span></p>
                            </div>
                            <div class="col-md-12">
                                <p>Retrait : <span th:text="${adresse.rue + ' ' +  adresse.codePostal + ' ' + adresse.ville}"></span></p>
                            </div>
                            <div class="col-md-12">
                                <p>Vendeur : <span th:text="${article.idUtilisateur}"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Mise à prix : <span th:text="${article.prixInitial}"></span></p>
                            </div>
                            <div th:if="${param.status == 'bid_placed'}">Enchère placée avec succès.</div>
                            <div class="col-md-12">
                                <p>Meilleure offre : <span th:text="${article.prixVente}"></span></p>
                            </div>
                            <div class="col-md-12">
                                <p>Fin de l'enchère : <span th:text="${#temporals.format(article.dateFinEncheres, 'dd/MM/yy')}"></span></p>
                            </div>
                            <div class="col-md-12" th:if="${userCredit > article.prixVente && article.statutEnchere == 1}">
                                <form th:action="@{/bid(id=${article.noArticle})}" method="POST">
                                    <label for="inputPrice">Montant de votre enchère</label>
                                    <input id="inputPrice" type="number" name="inputPrice">
                                    <button type="submit">Enchérir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                
                <div class="row mt-3 mb-5 align-items-center">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 d-flex justify-content-center">
                        <a href="/" class="btn btn-outline-secondary py-2 px-3">Retour</a>
                    </div>
                    <div class="col-md-4">
                        <img src="https://img.freepik.com/vecteurs-premium/vecteur-icone-image-par-defaut-page-image-manquante-pour-conception-site-web-application-mobile-aucune-photo-disponible_87543-11093.jpg" alt="" class="img-fluid" style="max-height: 150px;">
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>