<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: principal-layout(titlePage=~{:: title},
					contentPage=~{:: .center-main})}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{401.title}"></title>
</head>
<body>
<main class="center-main">
    <div class="container text-center">
        <div class="row align-items-end">
            <div class="col-md-12">
                <h1 th:text="#{401.h1}"></h1>
                <p>
                    <a th:text="#{401.signIn}" class="link" href="/login"></a>
                    <span th:text="${' '}+#{401.or}+${' '}"></span>
                    <a th:text="#{401.return}" class="link" href="/"></a></p>
            </div>
        </div>
    </div>
</main>

</body>
</html>