<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: principal-layout(titlePage=~{:: title},
					contentPage=~{:: .center-main})}">


<head>
    <meta charset="UTF-8">
    <title th:text="#{home.title}"></title>
    <link rel="stylesheet" data-th-href="@{/css/general.css}">
</head>
<body>
  <main class="center-main">
      <div class="container-fluid">
          <div class="container">
              <div class="row mt-3">
                  <div class="col-md-2"></div>
                  <div class="col-md-2"></div>
                  <div class="col-md-4 text-center mt-2">
                      <h1 th:text="#{home.h1}"></h1>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-2 dateUser d-flex flex-column align-items-center justify-content-center">
                      <p><span th:text="#{home.date}" /><span th:text="${#temporals.format(#temporals.createNow(), 'dd/MM/yyyy')}"></span></p>
                      <!-- If user is authenticated, show quick filters -->
                      <div>
                          <a th:href="@{'/'(view='participating', categoryId=${selectedCategoryId}, q=${param.q})}" th:text="#{home.bids}"></a> |
                          <a th:href="@{'/'(view='won', categoryId=${selectedCategoryId}, q=${param.q})}" th:text="#{home.gains}"></a> |
                          <a th:href="@{'/'(view='mySales', categoryId=${selectedCategoryId}, q=${param.q})}" th:text="#{home.sales}"></a>
                      </div>
                  </div>
              </div>
              <div class="row p-2">
                  <div class="col-md-12"><h5><span th:text="#{home.filters}" /> :</h5></div>
                <div class="col-md-4 ">
                    <form th:action="@{/}" method="get" class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" th:value="${param.q}" />
                        <input type="hidden" name="categoryId" th:value="${selectedCategoryId}" />
                        <button class="btn btn-outline-secondary" type="submit" th:text="#{home.search}"></button>
                    </form>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
              </div>
              <div class="row p-2 mb-5">
                  <div class="col-md-4">
                      <form th:action="@{/}" method="get">
                          <select class="form-select" aria-label="Default select example" name="categoryId" onchange="this.form.submit()">
                              <option value="" th:selected="${selectedCategoryId == null}" th:text="#{home.allOptions}"></option>
                              <option th:each="categorie : ${categories}"
                                      th:value="${categorie.noCategorie}"
                                      th:selected="${selectedCategoryId != null} ? (${categorie.noCategorie} == ${selectedCategoryId}) : false"
                                      th:text="${categorie.libelle}">
                              </option>
                          </select>
                          <input type="hidden" name="q" th:value="${param.q}" />
                      </form>
                  </div>
                  <div class="col-md-4"><button class="btn btn-outline-secondary" type="submit" th:text="#{home.cancel}"></button></div>
                  <div class="col-md-4"></div>
              </div>


              <div class="row mb-3">
                  <div class="col-md-4" th:each="article : ${articles}">
                      <div class="card mb-3">
                          <div class="card-header text-center">
                              <a th:href="@{/auction-details(id=${article.noArticle})}" th:text="${article.nomArticle}"></a>&ensp;<span th:if="${profile == article.idUtilisateur and article.dateDebutEncheres.isAfter(#temporals.createNow().toLocalDate())}"><a th:href="@{/sale/modif-sale(id=${article.noArticle})}"><i class="fa-solid fa-pencil"></i></a></span>
                          </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-md-4">
                                      <img src="https://img.freepik.com/vecteurs-premium/vecteur-icone-image-par-defaut-page-image-manquante-pour-conception-site-web-application-mobile-aucune-photo-disponible_87543-11093.jpg" alt="" class="img-fluid">
                                  </div>
                                  <div class="col-md-8">
                                      <p><span th:text="#{home.price}" /><span th:text="${article.prixVente == 0 ? article.prixInitial : article.prixVente}"></span><span th:text="#{home.credits}" /></p>
                                      <p><span th:text="#{home.auctionEnd}" /><span th:text="${#temporals.format(article.dateFinEncheres, 'dd/MM/yy')}"></span></p>
                                      <p><span th:text="#{home.seller}" /><a href="" th:text="${article.idUtilisateur}"></a></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>

</body>
</html>