<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      data-th-replace="~{layouts/layout :: principal-layout(titlePage=~{:: title},
					contentPage=~{:: .center-main})}">
<head>
    <title>Sign In Page</title>
</head>
<body>
<main class="center-main">
    <div class="container text-center">
        <div class="row align-items-end">
            <div class="col-md-12">
                <h1>Sign Up</h1>

                <div th:if="${param.error}">Something wrong happened during account creation.</div>

                <form id="login-form" th:action="@{/register}" th:object="${signUpRequest}" method="post">

                    <label class="grid-2" for="inputUsername" style="{visibility:hidden;}">Username</label>
                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                    <input class="grid-2" id="inputUsername" type="text" name="username" th:field="*{username}" placeholder="username" required/>

                    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                    <label class="grid-2" for="inputLastName" style="{visibility:hidden;}">Last Name</label>
                    <input class="grid-2" id="inputLastName" type="text" name="lastName" th:field="*{lastName}" placeholder="last name" required/>

                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                    <label class="grid-2" for="inputFirstName" style="{visibility:hidden;}">First Name</label>
                    <input class="grid-2" id="inputFirstName" type="text" name="firstName" th:field="*{firstName}" placeholder="first name" required/>

                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    <label class="grid-2" for="inputEmail" style="{visibility:hidden;}">Email</label>
                    <input class="grid-2" id="inputEmail" type="text" name="email" th:field="*{email}" placeholder="email" required/>

                    <label class="grid-2" for="inputPhoneNb" style="{visibility:hidden;}">Phone Number</label>
                    <input class="grid-2" id="inputPhoneNb" type="text" name="phoneNumber" th:field="*{phoneNumber}" placeholder="phone number" />

                    <h3>Address</h3>

                    <div th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></div>
                    <label class="grid-2" for="street" style="{visibility:hidden;}">Street</label>
                    <input class="grid-2" id="street" type="text" name="street" th:field="*{street}" placeholder="street" required />

                    <div th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></div>
                    <label class="grid-2" for="postalCode" style="{visibility:hidden;}">Postal Code</label>
                    <input class="grid-2" id="postalCode" type="text" name="postalCode" th:field="*{postalCode}" placeholder="postal code" required />

                    <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
                    <label class="grid-2" for="city" style="{visibility:hidden;}">City</label>
                    <input class="grid-2" id="city" type="text" name="city" th:field="*{city}" placeholder="city" required />

                    <br>

                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    <label class="grid-2" for="inputPassword" style="{visibility:hidden;}">Password</label>
                    <input class="grid-2" id="inputPassword" type="password" name="password" th:field="*{password}" placeholder="password" required/>

                    <div th:if="${#fields.hasErrors('confirmation')}" th:errors="*{confirmation}"></div>
                    <label class="grid-2" for="confirmation" style="{visibility:hidden;}">Confirmation</label>
                    <input class="grid-2" id="confirmation" type="password" name="password" placeholder="confirmation" required/>

                    <input class="grid-2" type="submit" value="Sign Up"/>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
